<footer>
  <div class="footer">
    <div class="container">
      <hr />
      <ul>
        <li>&copy; 2019 Nuisto, LLC</li>
        <li><a href="https://medium.com/@mule-lint">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li class="pull-right hidden-xs">
          <a href="https://twitter.com/cgorshing" class="twitter-follow-button" data-show-count="false">Follow the dev</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </li>
        <!--
        <li class="pull-right hidden-xs">
          <a href="https://gitter.im/nuisto/mule-lint?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge">
            <img src="https://badges.gitter.im/Join%20Chat.svg" />
          </a>
        </li>
        -->
      </ul>
    </div>
  </div>
</footer>
