<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbar-collapsed">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/">Home</a></li>
        <li><a href="https://github.com/mule-lint/mule-lint">Source</a></li>
        <li><a href="https://github.com/mule-lint/mule-lint-maven-plugin">Maven Plugin</a></li>
        <li><a href="https://github.com/mule-lint/example-mule-lint-project">Example</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          {% for release in site.data.releases limit:1 %}
            <a href="/install"><strong>Install {{ release.version }}</strong></a>
          {% endfor %}
        </li>
        <li><a href="/faq">FAQ</a></li>
        <!-- <li><a href="https://medium.com/@mule-lint">Blog</a></li> -->
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>
